<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{#each categoryWithPosts.Posts}}
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">
                        {{this.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{this.content}}
                    </h3>
                </a>
                <p class="post-meta">Created on {{this.createdAt}}</p>
            </div>
            <hr> {{else}}
            <p class="empty">No content</p>
            {{/each}}
        </div>
    </div>
</div>